//screenSizes
$phone-min: 320px;
$phone-only: 599px;
$tablet-portrait-up: 600px;
$tablet-landscape-up: 900px;
$desktop-up: 1200px;
$big-desktop-up: 1800px;

//colors
$color-blue: #2C7BE5;
$color-white: #fff;
